
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.navbar{
  font-size: 17px;
  
  line-height: 27px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px 0 gray;
  border-bottom: 1px solid gray;
}

.navlink{
  font-weight: 300!important;
}

.active{
  border-bottom: 2px solid black;
}
.navbar-brand{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;

}

.footer {
  color: white;
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* register css
.register{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;

} */

/* .form{
  border: 1px solid black;
  padding: 10px 80px;
} */